@import '../styles';
.home-cont{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .btn-big{
    font-size: 100px;
    width: 40vw;
    height: 70vh;
    background-color: red;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-big:hover{
    background-color: green;
  }



//game setting one
  .btn-gamone{
    @extend .btn-big;
    width: 30vw;
  }
  .btn-gameone:hover{
    background-color: green;
  }

}//closing for home cont

.team-cont{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  .arrow-left{
    width: 100px;
    height: 100px;
    background-color: black;
  }
  .arrow-right{
    @extend .arrow-left;
  }
  .test{
    display: flex;
    flex-direction: column;
    align-items: center;
  .color-cont{
    display: flex;
    justify-content: space-around;
    .btn-color{
      width: 100px;
      height: 100px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid white;
    }
    .btn-color:hover{
      border: 1px solid black;
    }
  }
}
}

//game container
.game-cont{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .team{
    width: 40%;
    height: 100%;

    .team-name{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 70px;
      width: 100%;
      height: 20%;
      border:1px solid black;
    }
    .team-score{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 200px;
      width: 100%;
      height: 60%;
      border:1px solid black;
      cursor: pointer;
    }
    .team-serve{
      width: 100%;
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      border:1px solid black;
    }
  }
  .game-score{
    font-size: 300%;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
